<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Properties file configuration  -->
    <context:property-placeholder location = "com/nit/commons/info.properties"/>
    <!-- provide alias name for the depedent spring bean id that is collected from properties file -->
    <alias name="${courier.id}" alias="shipment"/>
</beans>