<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
       "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
           
    <!-- configure java classes as spring beans -->
    <bean id="ldate" class="java.time.LocalDate" factory-method="now" />
    
    <!-- target spring bean -->
    <bean id="smg" class="SB_Beans.seasonNameGenerator" >
         <property name="date" ref="ldate"/>
    </bean>
   
</beans>
